rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /lists/{list} {
      allow read, write, update;
    }
  }
}