/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#firebaseui_container
  > div
  > form
  > div.firebaseui-card-actions
  > div
  > button {
  background: #047857;
  color: #ecfdf5;
  text-transform: none !important;
}

#firebaseui_container > div {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

@media only screen and (min-width: 300px) {
  #ui-sign-in-email-input {
    min-width: 300px;
  }
}
